*{
    margin: 0;
    padding: 0;
}

body {
   background: #0000ff21;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

button {
    padding: 5px 20px;
    cursor:pointer;
}